# Web Optimizer options
<IfModule mod_setenvif.c>
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch SV1; !no_gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>
<IfModule mod_mime.c>
	AddEncoding gzip .gz
	AddEncoding deflate .df
</IfModule>
Options +FollowSymLinks +SymLinksIfOwnerMatch
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^(.*)\.wo[0-9]+\.(css|php)$ $1.$2
	RewriteRule ^(.*)\.wo[0-9]+\.(js|php)$ $1.$2
	RewriteCond %{HTTP:Accept-encoding} gzip
	RewriteCond %{HTTP_USER_AGENT} !Konqueror
	RewriteCond %{REQUEST_FILENAME}.gz -f
	RewriteRule ^(.*)\.ico$ $1.ico.gz [QSA,L]
	<FilesMatch \.ico\.gz$>
		ForceType image/x-icon
	</FilesMatch>
	RewriteCond %{HTTP:Accept-encoding} gzip
	RewriteCond %{HTTP_USER_AGENT} !Konqueror
	RewriteCond %{REQUEST_FILENAME}.gz -f
	RewriteRule ^(.*)\.xml$ $1.xml.gz [QSA,L]
	<FilesMatch \.xml\.gz$>
		ForceType text/xml
	</FilesMatch>
	RewriteCond %{HTTP:Accept-encoding} gzip
	RewriteCond %{HTTP_USER_AGENT} !Konqueror
	RewriteCond %{REQUEST_FILENAME}.gz -f
	RewriteRule ^(.*)\.css$ $1.css.gz [QSA,L]
	<FilesMatch \.css\.gz$>
		ForceType text/css
	</FilesMatch>
	RewriteCond %{HTTP:Accept-encoding} gzip
	RewriteCond %{HTTP_USER_AGENT} !Konqueror
	RewriteCond %{REQUEST_FILENAME}.gz -f
	RewriteRule ^(.*)\.js$ $1.js.gz [QSA,L]
	<FilesMatch \.js\.gz$>
		ForceType application/x-javascript
	</FilesMatch>
	RewriteCond %{HTTP:Accept-encoding} gzip
	RewriteCond %{HTTP_USER_AGENT} !Konqueror
	RewriteCond %{REQUEST_FILENAME}.gz -f
	RewriteRule ^(.*)\.(ttf|otf|eot|svg)$ $1.$2.gz [QSA,L]
	<FilesMatch \.ttf\.gz$>
		ForceType application/x-font-truetype
	</FilesMatch>
	<FilesMatch \.otf\.gz$>
		ForceType application/x-font-opentype
	</FilesMatch>
	<FilesMatch \.svg\.gz$>
		ForceType image/svg+xml
	</FilesMatch>
	<FilesMatch \.eot\.gz$>
		ForceType application/vnd.ms-fontobject
	</FilesMatch>
</IfModule>
<IfModule mod_expires.c>
	ExpiresActive On
	<FilesMatch \.css$>
		ExpiresDefault "access plus 10 years"
	</FilesMatch>
	ExpiresByType text/css A315360000
	<FilesMatch \.js$>
		ExpiresDefault "access plus 10 years"
	</FilesMatch>
	ExpiresByType text/javascript A315360000
	ExpiresByType application/javascript A315360000
	ExpiresByType application/x-javascript A315360000
	ExpiresByType text/x-js A315360000
	ExpiresByType text/ecmascript A315360000
	ExpiresByType application/ecmascript A315360000
	ExpiresByType text/vbscript A315360000
	ExpiresByType text/fluffscript A315360000
</IfModule>
# Web Optimizer end
##
# @version $Id: htaccess.txt 13415 2009-11-03 15:53:25Z ian $
# @package Joomla RE
# @localized Авторские права (C) 2005 - 2009 Joom.Ru - Русский дом Joomla! Все права защищены.
# @copyright Авторские права (C) 2005 - 2008 Open Source Matters. Все права защищены.
# @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
# Joomla! - свободное программное обеспечение.
##
#  Установка кодировки сайта по умолчанию. При необходимости, закомментируйте.
AddDefaultCharset utf-8
#  Следующие строки - попытка исправить настройки PHP
#  для полного соответствия системным требованиям Joomla.
#  Раскомментируйте (символ комментария - #) нужные строки,
#  если настройки вашего хоста не соответствуют рекомендациям
#  системных требований Joomla.
#  При возникновении 500 ошибки сервера, закомментируйте строку, вызывающую
#  ошибку, или все строки с php_flag.
#  php_flag register_globals Off
#  php_flag display_errors Off
#  php_flag file_uploads On
#  php_flag allow_url_fopen off
#  php_flag magic_quotes_gpc On
#  php_flag magic_quotes_runtime Off
#  Пример явного указания каталога для записи сессий:
#  Для Windows - c:/temp
#  для UNIX  - /tmp
#  Указанный каталог должен физически существовать и быть доступен для записи
#  При необходимости, раскомментируйте строку ниже этой
#  php_value session.save_path c:/temp
#####################################################
#  ПРОЧТИТЕ ПОЛНОСТЬЮ, ЕСЛИ БУДЕТЕ ИСПОЛЬЗОВАТЬ ЭТОТ ФАЙЛ
#
# Строка ниже этого раздела: 'Options +FollowSymLinks' может вызвать проблему
# при некоторых конфигурациях сервера. Она необходима для использования модуля
# Apache mod_rewrite, но может быть уже настроена администратором вашего
# сервера и изменение этого параметра в .htaccess может быть запрещено.
# Если эта директива вызывает ошибку сервера, то закомментируйте строку
# (добавьте символ # в начало строки), перезагрузите в браузере сайт и
# протестируйте работу SEF-ссылок. Если они работают, то вам не надо ничего
# менять здесь, т.к. всё уже настроено администратором сервера.
#
# Строки, которые можно раскомментирвать (и использовать) имеют только один #.
# Строки с двумя символами ## раскомментировать не надо. В разделах, которые вы
# не используете, все строки должны начинаться с символа #
#
#####################################################
##  Может быть закомментировано, если вызывает ошибку сервера. Смотрите примечания выше.
Options +FollowSymLinks
#
#  Включение mod_rewrite
RewriteEngine On
########## Начало - Правила обработки запросов для блокировки распространенных эксплоитов
## Если у вас возникли проблемы с вашим сайтом, используйте ниже описанные операции
## Они пытаются заблокировать самые распространенные эксплоиты Joomla!
#
## Код запрета доступа к xml-файлам расширений (раскомментируйте для активации)
#<Files ~ "\.xml$">
#Order allow,deny
#Deny from all
#Satisfy all
#</Files>
## Конец кода запрета доступа к xml-файлам
# Блокировать любой запрос, пытающийся установить значение mosConfig через URL
RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
# Блокировать любой запрос, пытающийся испортить base64_encode через URL
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
# Блокировать любой запрос, содержащий тег <script> в URL
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
# Блокировать любой запрос, пытающийся установить значение глобальных переменных PHP через URL
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Блокировать любой запрос, пытающийся изменить _REQUEST переменную через URL
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Перенаправлять заблокированные запросы на страницу 403 с запрещенными ошибками!
RewriteRule ^(.*)$ index.php [F,L]
#
########## Конец правил обработки для блокировки распространенных эксплоитов
#  Раскомментируйте следующую строку, если URL вашего web-сервера
#  не связаны напрямую с физическими путями файлов.
#  Обновите ваш каталог Joomla (используйте "/" для обозначения корня сервера)
# RewriteBase /
########## Начало раздела SEF ядра Joomla!
#
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} !^/index.php
#RewriteCond %{REQUEST_URI} (/|\.php|\.html|\.htm|\.feed|\.pdf|\.raw|/[^.]*)$  [NC]
#RewriteRule (.*) index.php
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
#
########## Конец раздела SEF ядра Joomla!
########## Начало раздела SEF сторонних разработчиков или Core SEF
########## Используйте этот раздел, если вы используете SEF-расширения типа OpenSEF, 404_SEF, 404SEFx, JoomSEF, SEF Advance и т.д.
#
#RewriteCond %{REQUEST_URI} ^(/component/option,com) [NC,OR] ##опционально - смотрите примечания##
RewriteCond %{REQUEST_URI} (/|\.htm|\.php|\.html|/[^.]*)$  [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php
#
########## Конец раздела SEF сторонних разработчиков или Core SEF